.form {
    display: grid;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.contact_name,
.contact_number{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
   
    font-size: 30px;
    font-weight: bold;
    color: rgb(9, 79, 137);
};



